{%extends 'base.html'%}
{%block title%}Course{%endblock%}
{%block content%}
{% load static %}
 
<head>
    <link rel="stylesheet" href="{% static '/static/css/py_full.css' %}">
</head>

 <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Python Full Stack</h1>
                <nav aria-label="breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="split left">
    <div class="centered">
    <div class="container-fluid">
        <div class="courses">
            <h4>Module 1</h4>
            <ul id="course-list">
                <a href="https://eduvistahub-learn.blogspot.com/2024/03/python-is-easy-to-learn-powerful.html" >
                <li class="course" data-id="1">Introduction</li>
                </a>
                <a href="https://eduvistahub-learn.blogspot.com/2024/03/conditional-looping-statements.html" >
                <li class="course" data-id="2">Conditional & Looping Statements</li>
                </a>
                <a href="" >
                <li class="course" data-id="3">String Manipulation</li>
                </a>
                <a href="" >
                <li class="course" data-id="4">PIP and Python Modules</li>
                </a>
                <a href="" >
                <li class="course" data-id="5">List,Tuple,Dictionary and Set</li>
                </a>
                <a href="" >
                <li class="course" data-id="6">Functions</li>
                </a>
            </ul>
            <h4>Module 2</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">OOPs Concepts</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">Inheritance</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Exception Handling</li>
                </a>
                <a href="" >
                <li class="course" data-id="14">File Handling</li>
                </a>
            </ul>
            <h4>Module 3</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">Graphical User Interface</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">Database</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Networking</li>
                </a>
            </ul>
            <h4>Module 4</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">HTML</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">CSS</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Bootstrap</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">JavaScript & JQuery</li>
                </a>
            </ul>
            <h4>Module 5</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">Introduction to Django</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">Django Template Language(DTL)</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Templates</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Model and Database Connection</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Form Creation</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Model and Database Connection</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Create Administration Pannel</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Email Functionality</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Sessions & Cookies</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Middleware</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">REST API</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Serializing & Deserializing</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Views</li>
                </a>
            </ul>
        </div>
    </div>
    </div>
</div>

  
    <script src="{% static '/static/js/py_full.js' %}"></script>



{%endblock%}