{%extends 'base.html'%}
{%block title%}Course{%endblock%}
{%block content%}
{% load static %}
 
 <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Python With AI</h1>
                <nav aria-label="breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="split left">
    <div class="centered">
    <div class="container-fluid">
        <div class="courses">
            <h4>Module 1</h4>
            <ul id="course-list">
                <a href="" >
                <li class="course" data-id="1">Introduction</li>
                </a>
                <a href="" >
                <li class="course" data-id="2">Conditional & Looping Statements</li>
                </a>
                <a href="" >
                <li class="course" data-id="3">String Manipulation</li>
                </a>
                <a href="" >
                <li class="course" data-id="4">PIP and Python Modules</li>
                </a>
                <a href="" >
                <li class="course" data-id="5">List,Tuple,Dictionary and Set</li>
                </a>
                <a href="" >
                <li class="course" data-id="6">Functions</li>
                </a>
            </ul>
            <h4>Module 2</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">OOPs Concepts</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">Inheritance</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Exception Handling</li>
                </a>
                <a href="" >
                <li class="course" data-id="14">File Handling</li>
                </a>
            </ul>
            <h4>Module 3</h4>
            <ul id="course-list-2">
                <a href="" >
                <li class="course" data-id="11">Graphical User Interface</li>
                </a>
                <a href="" >
                <li class="course" data-id="12">Database</li>
                </a>
                <a href="" >
                <li class="course" data-id="13">Networking</li>
                </a>
            </ul>
        </div>
    </div>
    </div>
</div>


{%endblock%}